body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: darkgray;
}

.infinity {
    position: relative;
    width: 212px;
    height: 100px;
}

.infinity::before,
.infinity::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border: 20px solid ;
    background-image: linear-gradient( 90.5deg,  rgba(247,204,0,1) 0.2%, rgba(247,0,0,1) 27.3%, rgba(161,0,156,1) 85.5% );
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
}

.infinity::after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
}

.texto-c {
    font-size:36px;
    -webkit-background-clip: text;
    color: white;
    -webkit-text-fill-color: transparent;
    background-color:#FFF;
    background-image: -webkit-gradient,(linear, left top, right top, from, (#ea8711), to, (#d96363));
    background-image: -webkit-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -moz-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -ms-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: -o-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
  }